.noarchSpaceContainer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: #1d1b16;

}

.noarchNoSelectHeader {
  padding-top: 2em;
  font-size: 18pt;
  align-self: center;
  text-align: center;
  color: #4d4b46;
  width: 100%;
  height: 100%;
  margin: auto 0;
}