.noarchColumn {
  min-width: 160px;
  background-color: #25231f;
  display: flex;
  flex: 1;
  border-right: 1px #35332f solid;
  border-left: 1px #35332f solid;
  flex-direction: column;
}

.noarchName {
  font-size: 10.5pt;
  width: 100%;
  text-align: center;
  color: #65635f;

  border-bottom: 1px #35332f solid;
}
